@import "variables";

.ac-ow {
  height:200px;
  background-color: $dark-blue !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0;
  padding:0;
  list-style: none;
}

.ac-ow {
  .navbar-primary-menu {
    li {
      a{
        display: block;
        padding: 10px 18px;
        text-align: left;
        border-bottom:solid 1px $dark-blue;
        color: $white;
      }
    }
  }
}

.ac-ow {
  .navbar-primary-menu {
    li {
      a:hover{
        background-color: $dark-blue-hover;
        text-decoration: none;
        color: white;
      }
    }
  }
}

.chart-size {
  width: 500px;
  height: 310px;
}

.trend-achart {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.success-text {
  color: $green-text;
}

.warning-text {
  color: $yellow-text;
}

.error-text {
  color: $red-text;
}


.card {
  font-size: 13px;
  border: none !important;
  box-shadow: 0 0 10px 0px rgba(119,119,119,0.1);
  .card-body{
    p{
      font-size: 24px;
      display: inline-block;
    }
  }
}

.success-card {
  margin: 0px 0px 8px 10px;
}

.error-card {
  margin: 0px 8px 0px 0px;
}

.graph-title {
  padding: 20px 0px 0px 20px;
}
.dashboard-ttd-aws-reachability-graph line, .dashboard-ttd-aws-reachability-graph .line {
  fill: none;
  stroke-width: 2px;
}
.dashboard-ttd-aws-reachability-graph .value1 {
  stroke: #c71585;
}
.dashboard-ttd-aws-reachability-graph .value2 {
  stroke: #7b68ee;
}
.dashboard-ttd-aws-reachability-graph rect.y-range-background {
  opacity: 0.25;
}

.dashboard-ttd-aws-reachability-graph{
  .value1 {
    stroke: #ff5252;
  }
  .value2 {
    stroke: #ffd616;
  }
}


line, .line {
  fill: none;
  stroke-width: 2px;
}


.table-dcrack, .trend-achart, .aws-chart, .anomaly-chart {
  font-size: 15px;
  color: $text-gray;
  // -webkit-box-shadow: 0px 5px 10px 0.8px rgba(0,0,0,0.1);
  // -moz-box-shadow: 0px 5px 10px 0.8px rgba(0,0,0,0.1);
  // box-shadow: 0px 5px 10px 0.8px rgba(0,0,0,0.1);
}
