@import "variables";

.nubix-text {
  font-size: 30px;
  color: $white;
  padding:20px 0px 20px 30px;
}

.ac-ow{
  min-width: 320px;
  max-width: 320px;
  min-height: 100vh;

  .ac-ow-nav {
    min-height: 100%;
    height:200px;
    background-color: $dark-blue !important;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    min-width: 320px;
    max-width: 320px;
    position: fixed;

    .navbar-primary-menu {  
      margin:0;
      padding:0;
      list-style: none;

      .brand-top{
        position: relative;
        padding-top: 28px;
        padding-bottom: 40px;

        .brand{
          margin-left: 45px;
          max-height: 40px;
        }

        .icon{
          position: absolute;
          right: 30px;
          top: 45px,
        }
      }

      .no-icon{
        a{
          padding-top: 20px;
          padding-bottom: 20px;

          span{
            left: 0;
            color: $soft-gray;
            font-family: $brand-bold;
            font-size: 12px;
          }

        }
      }

      .sidebar-title{
        padding: 20px 45px;
        font-family: $brand-bold;
        color: $sidebar-title;
        font-size: 12px;
        letter-spacing: 0.20px;
      }

      a{
        display: block;
        padding: 10px 45px;
        text-align: left;
        border-bottom:solid 1px $dark-blue;
        position: relative;

        img{
          position: absolute;
          top: 15px;
        }

        span{
          color: $soft-gray;
          font-family: $brand-book;
          font-size: 16px;
          left: 30px;
          position: relative;
        }
      }
      
      a:hover{
        background-color: $dark-blue-hover;
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.chart-size {
  width: 500px;
  height: 310px;
}

.trend-achart {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.success-text {
  color: $green-text;
}

.warning-text {
  color: $yellow-text;
}

.error-text {
  color: $red-text;
}


.card {
  font-size: 13px;
  border: none !important;
  box-shadow: 0 0 10px 0px rgba(119,119,119,0.1);
  .card-body{
    p{
      font-size: 24px;
      display: inline-block;
    }
  }
}

.success-card {
  margin: 0px 0px 8px 10px;
}

.error-card {
  margin: 0px 8px 0px 0px;
}

.graph-title {
  padding: 20px 0px 0px 20px;
}
.dashboard-ttd-aws-reachability-graph line, .dashboard-ttd-aws-reachability-graph .line {
  fill: none;
  stroke-width: 2px;
}
.dashboard-ttd-aws-reachability-graph rect.y-range-background {
  opacity: 0.25;
}

.dashboard-ttd-aws-reachability-graph{
  .value1 {
    stroke: $red-text;
  }
  .value2 {
    stroke: $yellow-text;
  }
}

line, .line {
  fill: none;
  stroke-width: 2px;
}


.table-dcrack, .trend-achart, .aws-chart, .anomaly-chart {
  font-size: 15px;
  color: $text-gray;
  -webkit-box-shadow: 0 3px 10px rgba(119, 119, 119, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(119, 119, 119, 0.1);
  box-shadow: 0 3px 10px rgba(119, 119, 119, 0.1);
}
