// COLORS

$white: #ffffff;
$purple: #4a43c0;
$purple-hover: #413bb2;
$sidebar-title: #abafb3;
$text-gray: #464A53;
$soft-gray: #e6e6e6;
$light-gray: #848484;
$strong-gray: #6e6e6e;
$strongest-gray: #424242;
$green: #69e0a6;
$green-text: #9ec622;
$blue: #57c1f9;
$dark-blue: #415f8d;
$dark-blue-hover: #375684;
$yellow-text: #ffd616;
$red-text: #ff5252;

// FONTS

$brand-bold: CircularStd-Bold;
$brand-book: CircularStd-Book;

//FONTS
@font-face {
font-family: Circular Std;
src: url(../assets/fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularStd-Book;
    src: url(../assets/fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularStd-Bold;
    src: url(../assets/fonts/CircularStd-Bold.otf);
}
